{% extends "base/base.html" %} {% block title %}Clip Board{% endblock title %}
{% block content %}
<section id="Hero" class="clip-section-container">
  <img src="/static/projects/project_1/logo.svg" alt="" class="mx-auto my-16" />

  <h1 class="clip-section-header">A history of everything you copy</h1>
  <p class="clip-p-text">
    Clipboard allows you to track and organize everything you copy. <br />
    Instantly access your clipboard on all your devices.
  </p>
  <div
    class="flex md:flex-row flex-col items-center justify-center space-y-4 space-x-0 md:space-x-4 md:space-y-0"
  >
    <a
      href="#"
      class="bg-strongCyan text-white font-baijamjuree font-bold py-3 px-8 rounded-full duration-200 transition hover:-translate-y-1 hover:shadow-lg hover:opacity-90"
      >Download for Mac</a
    >

    <a
      href="#"
      class="bg-lightBlue text-white font-baijamjuree font-bold py-3 px-8 rounded-full duration-200 transition hover:-translate-y-1 hover:shadow-lg hover:opacity-90"
      >Download for iOS</a
    >
  </div>
</section>

<section id="snippets" class="clip-section-container">
  <h1 class="clip-section-header">Keep track of your snippets</h1>
  <p class="clip-p-text">
    Clipboard instantly stores any item you copy in the cloud, meaning you can
    access your snippets immediately on all your devices. Our Mac and iOS apps
    will help you organize everything.
  </p>
</section>

<section id="features" class="clip-section-container">
  <div
    class="flex flex-col md:flex-row relative items-center justify-center md:space-x-32"
  >
    <div class="md:w-1/2">
      <img
        src="/static/projects/project_1/image-computer.png"
        alt=""
        class="md:absolute top-0 right-[50%]"
      />
    </div>

    <div
      class="flex flex-col md:text-start lg:mt-16 md:mt-12 mt-10 md:ml-24 md:pl-24"
    >
      <div>
        <p class="clip-section-subheader">Quick Search</p>
        <p class="clip-p-text">
          Easily search your snippets by content, category, web address,
          application, and more
        </p>
      </div>
      <div>
        <p class="clip-section-subheader">iCloud Sync</p>
        <p class="clip-p-text">
          Instantly saves and syncs anippets accross all your devices.
        </p>
      </div>
      <div>
        <p class="clip-section-subheader">Complete History</p>
        <p class="clip-p-text">
          Retrieve any snippets from the first moment you started using the app.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="items" class="clip-section-container md:mt-44">
  <div class="flex flex-col items-center">
    <div>
      <h1 class="clip-section-header">Access Clipboard Anywhere</h1>
      <p class="clip-p-text">
        Whether you're on the go, or at your computer, you can access all your
        clipboard snippets in a few simple clicks
      </p>
    </div>
    <img src="/static/projects/project_1/image-devices.png" alt="" />
  </div>
</section>

<section id="supper-charge" class="clip-section-container">
  <div class="flex flex-col">
    <div>
      <h1 class="clip-section-header">Supercharge your workflow</h1>
      <p class="clip-p-text">
        We've got the tools to booost your productivity.
      </p>
    </div>
    <div
      class="mt-6 flex md:flex-row flex-col md:space-x-10 md:space-y-0 space-y-10 space-x-10 items-center"
    >
      <div class="justify-center items-center flex flex-col max-w-sm">
        <img src="/static/projects/project_1/icon-blacklist.svg" alt="" />
        <div class='mt-8'>
          <p class="clip-section-subheader">Create blacklists</p>
          <p class="clip-p-text">
            Easily search your snippets by content, category, web address,
            application and more.
          </p>
        </div>
      </div>

      <div class="justify-center items-center flex flex-col max-w-sm">
        <img src="/static/projects/project_1/icon-text.svg" alt="" />
        <div class='mt-8'>
          <p class="clip-section-subheader">Plain text snippets</p>
          <p class="clip-p-text">
            Remove unwanted formatting from copied text for a consistent look.
          </p>
        </div>
      </div>

      <div class="justify-center items-center flex flex-col max-w-sm">
        <img src="/static/projects/project_1/icon-preview.svg" alt="" />
        <div class='mt-8'>
          <p class="clip-section-subheader">Sneak Preview</p>
          <p class="clip-p-text">
            Quick preview of all snippets on your Clipboard for easy access.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
