{% extends "base/base.html" %}
{% block title %}Loop Studio{% endblock title %}
{% block content %}
<section id="Hero" class="loop-background mx-auto px-10 py-5">
  <div class="flex justify-between">
    <img src="/static/projects/project_2/logo.svg" alt="" />

    <div class='md:flex space-x-5 hidden'>
      <div class="group">
        <a class="text-white text-lg font-alata"> About </a>
        <div
          class="group-hover:border-b group-hover:border-b-white mx-2"
        ></div>
      </div>
      <div class="group">
        <a class="text-white text-lg font-alata"> Careers </a>
        <div
          class="group-hover:border-b group-hover:border-b-white mx-2"
        ></div>
      </div>
      <div class="group">
        <a class="text-white text-lg font-alata"> Events </a>
        <div
          class="group-hover:border-b group-hover:border-b-white mx-2"
        ></div>
      </div>
      <div class="group">
        <a class="text-white text-lg font-alata"> Products </a>
        <div
          class="group-hover:border-b group-hover:border-b-white mx-2"
        ></div>
      </div>
      <div class="group">
        <a class="text-white text-lg font-alata"> Support </a>
        <div
          class="group-hover:border-b group-hover:border-b-white mx-2"
        ></div>
      </div>
    </div>
  </div>
  <div class='text-white uppercase font-josefin md:text-4xl text-3xl max-w-sm border-2 p-10 md:my-44 lg:text-5xl lg:max-w-md my-32'>
    Impressive Experience that dliver
  </div>
</section>
{% endblock content %}
