{% extends "base/base_projects.html" %}

{% block title %}Pricing Grid{% endblock title %}

{% block content %}
<div>
    
    <div class = 'flex flex-col md:flex-row md:space-y-0 space-y-4 my-4 md:space-x-4 md:my-0'>
        <div class = 'rounded-lg bg-slate-300 text-white text-center'>
            <div class='rounded-t-lg bg-slate-700 p-8 mt-4 mx-4'>
                <p class='uppercase text-lg '>basic</p>
                <h1 class='mt-12 uppercase text-5xl font-serif px-4'>100GB</h1>
                <p class='text-sm py-2 mb-4'>$1.99/month</p>
                <button class='bg-[#823bf9] px-6 py-2 rounded-md hover:bg-transparent hover:border-[#823bf9] hover:border hover:text-[#823bf9] duration-500 font-bold hover:shadow-md hover:shadow-slate-600 md:px-4 md:space-x-4'>Purchase</button>
            </div>
             <div class="border-t border-slate-300"></div>
            <div class='rounded-b-lg bg-slate-700 p-8 mb-4 mx-4'>
                <div class="flex flex-col space-y-2">
                    <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <span class="text-sm ml-1">100 GB of storage</span>
                    </div>
                        <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <p class='text-sm ml-1'>Extra Memeber Benefits</p>
                    </div>
                        <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <p class='text-sm ml-1'>Option to Add Members</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'rounded-lg bg-slate-300 text-white text-center'>
            <div class='rounded-t-lg bg-slate-700 p-8 mt-4 mx-4'>
                <p class='uppercase text-lg '>Standard</p>
                <h1 class='mt-12 uppercase text-5xl font-serif px-4'>200GB</h1>
                <p class='text-sm py-2 mb-4'>$3.99/month</p>
                <button class='bg-[#823bf9] px-6 py-2 rounded-md hover:bg-transparent hover:border-[#823bf9] hover:border hover:text-[#823bf9] duration-500 font-bold hover:shadow-md hover:shadow-slate-600 md:px-4 md:space-x-4'>Purchase</button>
            </div>
            <div class="border-t border-slate-300"></div>
            <div class='rounded-b-lg bg-slate-700 p-8 mb-4 mx-4'>
                <div class="flex flex-col space-y-2">
                    <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <span class="text-sm ml-1">100 GB of storage</span>
                    </div>
                        <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <p class='text-sm ml-1'>Extra Memeber Benefits</p>
                    </div>
                        <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <p class='text-sm ml-1'>Option to Add Members</p>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'rounded-lg bg-slate-300 text-white text-center'>
            <div class='rounded-t-lg bg-slate-700 p-8 mt-4 mx-4'>
                <p class='uppercase text-lg '>premium</p>
                <h1 class='mt-12 uppercase text-5xl font-serif px-4'>1TB</h1>
                <p class='text-sm py-2 mb-4'>$5.99/month</p>
                <button class='bg-[#823bf9] px-6 py-2 rounded-md hover:bg-transparent hover:border-[#823bf9] hover:border hover:text-[#823bf9] duration-500 font-bold hover:shadow-md hover:shadow-slate-600 md:px-4 md:space-x-4'>Purchase</button>
            </div>
            <div class="border-t border-slate-300"></div>
            <div class='rounded-b-lg bg-slate-700 p-8 mb-4 mx-4'>
                <div class="flex flex-col space-y-2">
                    <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <span class="text-sm ml-1">100 GB of storage</span>
                    </div>
                        <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <p class='text-sm ml-1'>Extra Memeber Benefits</p>
                    </div>
                        <div class="flex justify-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-5 h-5"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l5 5l10 -10" />
                        </svg>
                        <p class='text-sm ml-1'>Option to Add Members</p>
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}